# Ignore data files (depends on context)
*.txt
*.csv
*.json
!hayabayaV1RC.jar

### Java ###
*.class

# Package Files #
*.jar
*.war
*.ear

# Misc
hs_err_pid*
*.iml

## Directory-based project format:
.idea/
/out/
.idea_modules/
audits/

## File-based project format:
*.ipr
*.iws

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties


### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar